@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto:wght@300&display=swap');

*{ 
    padding: 0%;
    margin: 0%;
    font-family: Roboto;

}

body{
    min-height: 100vh;
}

:root{
--background-clean: beige;
--cor-da-empresa: purple;
}


header, footer{
    border: 2px solid ;
    padding: 1%;
    margin: 1%;
}

.head{
     width: 95%;    
}

.menu{
    display: flex;
}

ul{
    list-style: none;
}

.ul-menu{
    display: flex;
    justify-content: end;
}

.bi-brilliance{
    font-size: 60px;
    color: var (--cor-da-empresa);
    padding-left: 1%;
}

li{
    padding-left: 5%;
}

h1{
    text-align: center;
    font-size: 50px;
    padding-left: 3%;
   
}

.foot .m-foot{
    display: flex;
    padding-left: 2%;
}

.missao{
    padding-left: 2%;
    justify-content: left;
    width: 50%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.valores{
    padding-right: 2%;
    justify-content: right;
    width: 95%;
    padding-bottom: 3%;
    padding-top: 3%;
    text-align: right;  
}

.midia{
    padding-left: 2%;
    width: 95%;
    padding-bottom: 3%;
    padding-top: 3%;
    justify-content: center;
    text-align: center;
}

P.p-val{
    margin-left: 0%;
    margin-right: 0%;
    text-align: right; 
    width: 50%;
    justify-content: end;
    padding-left: 50%;
}

h2{
    font-size: 30px;
}